@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims
@inject UserManager<IdentityUser> _userManager
@inject RoleManager<IdentityRole> _roleManager


<div class="row">
    <div class="col-md-6">
        <RadzenGrid AllowFiltering="true"
                    AllowPaging="true"
                    PageSize="5"
                    AllowSorting="true"
                    Data="@App.UsersPage.Users"
                    TItem="App.UsersPage.UserModel"
                    Value="@App.UsersPage.SelectedUser"
                    RowSelect="@(args => App.UsersPage.RowSelected(args))">
            <Columns>
                <RadzenGridColumn TItem="App.UsersPage.UserModel" Property="Name" Title="User Name" />
                <RadzenGridColumn TItem="App.UsersPage.UserModel" Property="Email" Title="Email" />
                <RadzenGridColumn TItem="App.UsersPage.UserModel" Property="UserRole" Title="Role" />
            </Columns>
        </RadzenGrid>
    </div>
    <div class="col-md-6">
        <RadzenCard Style="margin-bottom:20px">
            Active User: <b>@App.UsersPage.SelectedUser?.Name</b>
        </RadzenCard>
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="Roles">
                    <RadzenRadioButtonList @bind-Value="App.UsersPage.SelectedRole" TValue="int" Change="@((args) => App.UsersPage.RoleChanged(args))">
                        <Items>
                            <RadzenRadioButtonListItem Text="Administrators" Value="0" />
                            <RadzenRadioButtonListItem Text="Users" Value="1" />
                        </Items>
                    </RadzenRadioButtonList>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Claims">

                    <h3>Application Claims</h3>
                    <RadzenGrid @ref="App.UsersPage.ClaimsGrid"
                                AllowFiltering="true"
                                AllowPaging="true"
                                PageSize="5"
                                AllowSorting="true"
                                EditMode="DataGridEditMode.Single"
                                Data="@App.UsersPage.SelectedUser.Claims" TItem="Claim">
                        <Columns>
                            <RadzenGridColumn Width="100px" TItem="Claim" Property="Type" Title="Type" />
                            <RadzenGridColumn Width="100px" TItem="Claim" Property="Value" Title="Value" />

                            <RadzenGridColumn TItem="Claim" Context="claim" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                                <Template Context="claim">
                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(async args => await App.UsersPage.DeleteClaimRow(claim))">
                                    </RadzenButton>
                                </Template>
                                <EditTemplate Context="claim">
                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(async args => await App.UsersPage.DeleteClaimRow(claim))">
                                    </RadzenButton>
                                </EditTemplate>
                            </RadzenGridColumn>
                        </Columns>
                    </RadzenGrid>

                    <h3>Application Claims</h3>
                    <RadzenDropDown AllowClear="true" TValue="string"
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                                    Data="@App.UsersPage.Claims" @bind-Value="App.UsersPage.SelectedApplicationClaim" Style="margin-bottom: 20px" />
                    <RadzenButton Click="@(async () => await App.UsersPage.AddApplicationClaim())" Text="Add Application Claim" Style="margin-bottom: 20px; width: 150px" />

                    <h3>Profile Claim Name</h3>
                    <RadzenTextBox @bind-Value="@App.UsersPage.ProfileClaimName" MaxLength="50" Style="margin-bottom: 20px" />
                    <RadzenButton Click="@(async () => await App.UsersPage.AddProfileClaim())" Text="Add Profile Claim" Style="margin-bottom: 20px; width: 150px" />

                </RadzenTabsItem>
                <RadzenTabsItem Text="Profiles">



                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>



@code {
    [Parameter]
    public AdminBlazorApp App { get; set; }
    [Parameter]
    public EventCallback<AdminBlazorApp> AppChanged { get; set; }
}