@*<RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4"
            AllowSorting="true" Data="@employees" TItem="Employee" ColumnWidth="200px">
    <Columns>

        <RadzenGridColumn TItem="Employee" Property="Notes" Title="Notes" />
    </Columns>
</RadzenGrid>*@


<h1>DataBase</h1>


@*<div class="tabs is-centered mt-5">
    <ul>
        <li class="@(App.DatabasePage.ActivePanel == DatabasePage.Panels.LegalAppStats ? "is-active" : "")"><a @onclick="@(() => App.DatabasePage.SetActivePanel(DatabasePage.Panels.LegalAppStats))">Legal App Database Statistics</a></li>
        <li class="@(App.DatabasePage.ActivePanel == DatabasePage.Panels.UsersStats ? "is-active" : "")"><a @onclick="@(() => App.DatabasePage.SetActivePanel(DatabasePage.Panels.UsersStats))">Users Statistics</a></li>
    </ul>
</div>

<div class="section">
    @switch (App.DatabasePage.ActivePanel)
    {
        case DatabasePage.Panels.LegalAppStats:
            <LegalDbStats></LegalDbStats>
            break;
        case DatabasePage.Panels.UsersStats:
            <p>users stats page</p>



            break;
        default:
            break;
    }
</div>*@



