@using SWP.UI.BlazorApp.AdminApp.Stores.Enums

<nav class="navbar has-shadow is-fixed-top is-white">
    <div class="navbar-brand">
        <a @onclick="ActivateNavBurger" class="navbar-burger @(hamburgerNavActive ? "is-active" : "")">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="navbar-menu @(hamburgerNavActive ? "is-active" : "")">
        <div class="navbar-start">
            <a class="navbar-item @(ApplicationStore.GetState().ActivePanel == AdminAppPanels.Users ? "is-active" : "")" @onclick="@(() => ApplicationStore.SetActivePanel(AdminAppPanels.Users))">
                Users
            </a>
            <a class="navbar-item @(ApplicationStore.GetState().ActivePanel == AdminAppPanels.Database ? "is-active" : "")" @onclick="@(() => ApplicationStore.SetActivePanel(AdminAppPanels.Database))">
                Database
            </a>
            <a class="navbar-item @(ApplicationStore.GetState().ActivePanel == AdminAppPanels.Application ? "is-active" : "")" @onclick="@(() => ApplicationStore.SetActivePanel(AdminAppPanels.Application))">
                Applications
            </a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="/Index">
                <span>Exit</span>
            </a>
        </div>
    </div>
</nav>

<div class="section">
    <div class="container">
        <RadzenNotification />
        @switch (ApplicationStore.GetState().ActivePanel)
        {
            case AdminAppPanels.Users:
                <AdminUsers />
                break;
            case AdminAppPanels.Database:
                <AdminDatabase />
                break;
            case AdminAppPanels.Application:
                <AdminApplications />
                break;
            case AdminAppPanels.Error:
                <AdminError />
                break;
            default:
                break;
        }
    </div>
</div>

