<div class="section">
    <div class="columns is-0 is-centered">
        <h2>Recorded Exceptions</h2>
    </div>
    <div class="columns is-0 is-centered">
        <RadzenGrid AllowFiltering="true"
                    AllowPaging="true"
                    PageSize="5"
                    AllowSorting="true"
                    Data="@App.ApplicationsPage.LogRecords"
                    TItem="@LogRecordViewModel"
                    Value="@App.ApplicationsPage.SelectedLogRecord"
                    RowSelect="@(args => App.ApplicationsPage.RowSelected(args))">
            <Columns>
                <RadzenGridColumn TItem="LogRecordViewModel" Property="UserId" Title="User" />
                <RadzenGridColumn TItem="LogRecordViewModel" Property="Message" Title="Message" />
                <RadzenGridColumn TItem="LogRecordViewModel" Property="StackTrace" Title="Stack Trace" />
                <RadzenGridColumn TItem="LogRecordViewModel" Property="Created" Title="Created" />
                <RadzenGridColumn TItem="LogRecordViewModel" Context="um" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="50px">
                    <Template Context="lr">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(async args => await App.ApplicationsPage.DeleteLogRecord(lr))">
                        </RadzenButton>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>
</div>