<nav class="navbar has-shadow is-fixed-top is-white">
    <div class="navbar-brand">
        <a @onclick="ActivateNavBurger" class="navbar-burger @(hamburgerNavActive ? "is-active" : "")">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="navbar-menu @(hamburgerNavActive ? "is-active" : "")">
        <div class="navbar-start">
            <a class="navbar-item @(ApplicationStore.GetState().ActivePanel == AdminAppPanels.Portal ? "is-active" : "")" @onclick="@(() => ApplicationStore.SetActivePanel(AdminAppPanels.Portal))">
                Portal
            </a>
            <a class="navbar-item @(ApplicationStore.GetState().ActivePanel == AdminAppPanels.Users ? "is-active" : "")" @onclick="@(() => ApplicationStore.SetActivePanel(AdminAppPanels.Users))">
                Users
            </a>
            <a class="navbar-item @(ApplicationStore.GetState().ActivePanel == AdminAppPanels.Communication ? "is-active" : "")" @onclick="@(() => ApplicationStore.SetActivePanel(AdminAppPanels.Communication))">
                Communication
            </a>
            <a class="navbar-item @(ApplicationStore.GetState().ActivePanel == AdminAppPanels.Log ? "is-active" : "")" @onclick="@(() => ApplicationStore.SetActivePanel(AdminAppPanels.Log))">
                Log
            </a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="/Index">
                <span>Exit</span>
            </a>
        </div>
    </div>
</nav>

<div class="section">
    <div class="container">
        <RadzenNotification />
        @switch (ApplicationStore.GetState().ActivePanel)
        {
            case AdminAppPanels.Users:
                <AdminUsers />
                break;
            case AdminAppPanels.Communication:
                <AdminCommunication />
                break;
            case AdminAppPanels.Log:
                <AdminLog />
                break;
            case AdminAppPanels.Error:
                <AdminError />
                break;
            case AdminAppPanels.Portal:
                <AdminPortal />
                break;
            default:
                break;
        }
    </div>
</div>

<div class="section">
    <AdminStatusBar></AdminStatusBar>
</div>