
<RadzenGrid @ref="Appvm.CasesPanel.CasesGrid" AllowFiltering="true" AllowPaging="true" PageSize="5" AllowSorting="true"
            Data="@Appvm.ActiveCustomerWithData.Cases" TItem="CaseViewModel" RowUpdate="@Appvm.CasesPanel.OnUpdateCaseRow">
    <Columns>
        <RadzenGridColumn TItem="CaseViewModel" Property="Name" Title="Nazwa">
            <EditTemplate Context="c">
                <RadzenTextBox @bind-Value="c.Name" Style="width:100%; display: block" Name="Nazwa" />
                <RadzenRequiredValidator Text="Nazwa nie może być pusta!" Component="Nazwa" Popup="true" />
                <RadzenLengthValidator Max="50" Text="Max 50 characters!" Component="Nazwa" Popup="true" />
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="CaseViewModel" Property="Signature" Title="Sygnatura">
            <EditTemplate Context="c">
                <RadzenTextBox @bind-Value="c.Signature" Style="width:100%; display: block" Name="Sygnatura" />
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="CaseViewModel" Property="CaseType" Title="Typ sprawy">
            <EditTemplate Context="c">
                <RadzenTextBox @bind-Value="c.CaseType" Style="width:100%; display: block" Name="Typ sprawy" />
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="CaseViewModel" Property="Description" Title="Opis">
            <EditTemplate Context="c">
                <Radzen.Blazor.RadzenTextArea @bind-Value="c.Description" Style="width:100%; display: block" Name="Description" />
                <RadzenLengthValidator Max="500" Text="Max 500 characters!" Component="Description" Popup="true" />
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="CaseViewModel" Property="Created" Title="Created">
            <Template Context="c">
                @String.Format("{0:f}", c.Created)
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="CaseViewModel" Property="Updated" Title="Last Change">
            <Template Context="c">
                @String.Format("{0:f}", c.Updated)
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="CaseViewModel" Property="UpdatedBy" Title="Użytkownik">
            <Template Context="c">
                @c.UpdatedBy
            </Template>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="CaseViewModel" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px" Title="Show Details">
            <Template Context="c">
                <RadzenButton Icon="reply" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Click="@(args => Appvm.CasesPanel.ActiveCaseChange(c))">
                </RadzenButton>
            </Template>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="CaseViewModel" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px" Title="Edit">
            <Template Context="c">
                <RadzenButton Icon="edit" Size="ButtonSize.Medium" Click="@(args => Appvm.CasesPanel.EditCaseRow(c))">
                </RadzenButton>
            </Template>
            <EditTemplate Context="c">
                <RadzenButton Icon="save" Size="ButtonSize.Medium" Click="@((args) => Appvm.CasesPanel.SaveCaseRow(c))">
                </RadzenButton>
                <RadzenButton Icon="cancel" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => Appvm.CasesPanel.CancelEditCaseRow(c))">
                </RadzenButton>
            </EditTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="CaseViewModel" Context="order" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px" Title="Delete">
            <Template Context="c">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(async (args) => await Appvm.CasesPanel.DeleteCaseRow(c))">
                </RadzenButton>
            </Template>
            <EditTemplate Context="c">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(async (args) => await Appvm.CasesPanel.DeleteCaseRow(c))">
                </RadzenButton>
            </EditTemplate>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

@if (Appvm.ActiveCustomerWithData.SelectedCase == null)
{
    <h3>Brak aktywnej sprawy</h3>
}
else
{
    <h3>Aktywna sprawa - @Appvm.ActiveCustomerWithData.SelectedCase.Name</h3>

    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Calendar">
                <div class="row">
                    <div class="col-md-6">
                        <RadzenScheduler @ref="Appvm.CasesPanel.CasesScheduler" style="height: 768px;" TItem="ReminderViewModel" Data="@Appvm.ActiveCustomerWithData.SelectedCase.Reminders" StartProperty="Start" EndProperty="End"
                                         TextProperty="Name" SelectedIndex="2"
                                         SlotSelect="@Appvm.CasesPanel.OnSlotSelect" AppointmentSelect="@Appvm.CasesPanel.OnAppointmentSelect" AppointmentRender="@Appvm.CasesPanel.OnAppointmentRender">
                            <RadzenDayView />
                            <RadzenWeekView />
                            <RadzenMonthView />
                        </RadzenScheduler>
                    </div>

                    <RadzenCard Style="margin-bottom:20px">
                        Company:
                        <b>@Appvm.ActiveCustomerWithData.SelectedCase.Name</b>

                        <div class="row">
                            <div class="col-md-6">
                                <div>Selected Case:</div>
                                <b>@Appvm.ActiveCustomerWithData.SelectedCase.Name</b>
                            </div>
                            <div class="col-md-6">
                                <div>Signature:</div>
                                <b>@Appvm.ActiveCustomerWithData.SelectedCase?.Signature</b>
                                <div style="margin-top:20px">Description:</div>
                                <b>@Appvm.ActiveCustomerWithData.SelectedCase?.Description</b>
                            </div>
                        </div>
                    </RadzenCard>
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Notes">
                <div class="row">
                    <RadzenTemplateForm Data="@Appvm.CasesPanel.NewNote" Submit="@(async (CreateNote.Request args) => { await Appvm.CasesPanel.CreateNewNote(args); })">
                        <div class="row">
                            <RadzenFieldset Text="Add New Note">
                                <div class="row">
                                    <div class="col-md-4">
                                        <RadzenTextBox Placeholder="Note Title..." Style="margin-bottom: 30px" @bind-Value="Appvm.CasesPanel.NewNote.Name" Name="Name" />
                                        <RadzenRequiredValidator Component="Name" Text="Name cannot be empty!" Popup="true" />
                                        <RadzenLengthValidator Max="50" Text="Max 50 characters!" Component="Name" Popup="true" />
                                    </div>
                                    <div class="col-md-6">
                                        <RadzenTextArea Placeholder="Message..." Style="margin-bottom: 30px" @bind-Value="Appvm.CasesPanel.NewNote.Message" Name="Message" />
                                        <RadzenLengthValidator Max="500" Text="Max 500 characters!" Component="Message" Popup="true" />
                                    </div>
                                    <div class="col-md-2">
                                        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Add Note" />
                                    </div>
                                </div>
                            </RadzenFieldset>
                        </div>
                    </RadzenTemplateForm>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <RadzenGrid @ref="Appvm.CasesPanel.NotesGrid" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true"
                                    Data="@Appvm.ActiveCustomerWithData.SelectedCase.Notes" TItem="NoteViewModel" RowUpdate="@Appvm.CasesPanel.OnUpdateNoteRow">
                            <Columns>
                                <RadzenGridColumn TItem="NoteViewModel" Property="Name" Title="Name">
                                    <EditTemplate Context="note">
                                        <RadzenTextBox @bind-Value="note.Name" Style="width:100%; display: block" Name="Name" />
                                        <RadzenRequiredValidator Component="Name" Text="Name cannot be empty!" Popup="true" />
                                        <RadzenLengthValidator Max="50" Text="Max 50 characters!" Component="Name" Popup="true" />
                                    </EditTemplate>
                                </RadzenGridColumn>
                                <RadzenGridColumn TItem="NoteViewModel" Property="Message" Title="Message">
                                    <EditTemplate Context="note">
                                        <RadzenTextArea @bind-Value="note.Message" Style="width:100%; display: block" Name="Message" />
                                        <RadzenLengthValidator Max="500" Text="Max 500 characters!" Component="Message" Popup="true" />
                                    </EditTemplate>
                                </RadzenGridColumn>
                                <RadzenGridColumn TItem="NoteViewModel" Property="Created" Title="Created">
                                    <Template Context="note">
                                        @String.Format("{0:f}", note.Created)
                                    </Template>
                                </RadzenGridColumn>
                                <RadzenGridColumn TItem="NoteViewModel" Property="Updated" Title="Last Change">
                                    <Template Context="note">
                                        @String.Format("{0:f}", note.Updated)
                                    </Template>
                                </RadzenGridColumn>
                                <RadzenGridColumn TItem="NoteViewModel" Property="UpdatedBy" Title="Użytkownik">
                                    <Template Context="note">
                                        @note.UpdatedBy
                                    </Template>
                                </RadzenGridColumn>
                                <RadzenGridColumn TItem="NoteViewModel" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                                    <Template Context="note">
                                        <RadzenButton Icon="reply" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Click="@(args => Appvm.CasesPanel.ActiveNoteChange(note))">
                                        </RadzenButton>
                                    </Template>
                                </RadzenGridColumn>
                                <RadzenGridColumn TItem="NoteViewModel" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                                    <Template Context="note">
                                        <RadzenButton Icon="edit" Size="ButtonSize.Medium" Click="@(args => Appvm.CasesPanel.EditNoteRow(note))">
                                        </RadzenButton>
                                    </Template>
                                    <EditTemplate Context="note">
                                        <RadzenButton Icon="save" Size="ButtonSize.Medium" Click="@((args) => Appvm.CasesPanel.SaveNoteRow(note))">
                                        </RadzenButton>
                                        <RadzenButton Icon="cancel" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => Appvm.CasesPanel.CancelEditNoteRow(note))">
                                        </RadzenButton>
                                    </EditTemplate>
                                </RadzenGridColumn>
                                <RadzenGridColumn TItem="NoteViewModel" Context="order" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                                    <Template Context="note">
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(async (args) => await Appvm.CasesPanel.DeleteNoteRow (note))">
                                        </RadzenButton>
                                    </Template>
                                    <EditTemplate Context="note">
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(async (args) => await Appvm.CasesPanel.DeleteNoteRow(note))">
                                        </RadzenButton>
                                    </EditTemplate>
                                </RadzenGridColumn>
                            </Columns>
                        </RadzenGrid>
                    </div>
                    <div class="col-md-4">
                        @if (Appvm.ActiveCustomerWithData.SelectedCase != null &&
                           Appvm.ActiveCustomerWithData.SelectedCase.SelectedNote != null)
                        {
                            <RadzenCard Style="margin-bottom:20px">
                                Note:
                                <b>@Appvm.ActiveCustomerWithData.SelectedCase.SelectedNote.Name</b>
                            </RadzenCard>
                            <RadzenCard Style="margin-bottom:20px">
                                Details:
                                <b>@Appvm.ActiveCustomerWithData.SelectedCase.SelectedNote.Message</b>
                            </RadzenCard>
                        }
                    </div>
                </div>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
}

@code {
    [Parameter]
    public LegalSwpApp Appvm { get; set; }
    [Parameter]
    public EventCallback<LegalSwpApp> AppvmChanged { get; set; }
}
