@if (!MainStore.Loading)
{
    @if (MainStore.GetState().AppActiveUserManager.ProfileName is not null && MainStore.GetState().AppActiveUserManager.IsLegalLicenseActive)
    {
        <div id="grid-container-2">
            <nav class="sidebar @(!showSidebar ? "" : "sidebar-add")">
                <ul class="navigation">
                    <li class="logo">
                        <button @onclick="ShowHideSidebar" class="toggle @(showSidebar ? "toggle-rotate" : "") "><img src="Images/icons8-double-right-40.png" /></button>
                    </li>
                </ul>
                <ul class="navigation">

                    <li class="nav-item @(MainStore.GetState().ActivePanel == LegalAppPanels.Info ? "active" : "") " @onclick="@(() => MainStore.SetActivePanel(LegalAppPanels.Info))" data-toggle="tooltip" data-placement="right" title="Informacje">
                        <a class="nav-link ">
                            <i><img src="/Images/icons8-user-manual-36.png" /></i>
                            <span class="@(showSidebar ? "link-text" : "text-hidden")">Informacje</span>
                        </a>
                    </li>

                    @if (MainStore.GetState().AppActiveUserManager.IsRoot)
                    {
                        <li class="nav-item @(MainStore.GetState().ActivePanel == LegalAppPanels.UserManager ? "active" : "") " @onclick="@(() => MainStore.SetActivePanel(LegalAppPanels.UserManager))" data-toggle="tooltip" data-placement="right" title="Opcje">
                            <a class="nav-link ">
                                <i><img src="/Images/icons8-administrative-tools-36.png" /></i>
                                <span class="@(showSidebar ? "link-text" : "text-hidden")">Opcje</span>
                            </a>
                        </li>
                    }

                    @if (MainStore.GetState().AppActiveUserManager.IsRoot || MainStore.GetState().AppActiveUserManager.IsStatisticsVisible)
                    {
                        <li class="nav-item @(MainStore.GetState().ActivePanel == LegalAppPanels.MyApp ? "active" : "") " @onclick="@(() => MainStore.SetActivePanel(LegalAppPanels.MyApp))" data-toggle="tooltip" data-placement="right" title="Statystyki">
                            <a class="nav-link ">
                                <i><img src="/Images/icons8-statistics-36.png" /></i>
                                <span class="@(showSidebar ? "link-text" : "text-hidden")">Statystyki</span>
                            </a>
                        </li>
                    }

                    <li class="nav-item  @(MainStore.GetState().ActivePanel == LegalAppPanels.Clients ? "active" : "") " @onclick="@(() => MainStore.SetActivePanel(LegalAppPanels.Clients))" data-toggle="tooltip" data-placement="right" title="Klienci">
                        <a class="nav-link ">
                            <i><img src="/Images/icons8-reception-36.png" /></i> <span class="@(showSidebar ? "link-text" : "text-hidden")">Klienci</span>
                        </a>
                    </li>
                    <li class="nav-item  @(MainStore.GetState().ActivePanel == LegalAppPanels.Calendar ? "active" : "")" @onclick="@(() => MainStore.SetActivePanel(LegalAppPanels.Calendar))" data-toggle="tooltip" data-placement="right" title="Kalendarz">
                        <a class="nav-link ">
                            <i><img src="/Images/icons8-calendar-12-36.png" /></i> <span class="@(showSidebar ? "link-text" : "text-hidden")">Kalendarz</span>
                        </a>
                    </li>

                    @if (MainStore.GetState().ActiveClient is not null)
                    {

                        @if (MainStore.GetState().AppActiveUserManager.IsRoot || MainStore.GetState().AppActiveUserManager.IsClientContactsVisible)
                        {
                            <li class="nav-item @(MainStore.GetState().ActivePanel == LegalAppPanels.ClientDetails ? "active" : "")" @onclick="@(() => MainStore.SetActivePanel(LegalAppPanels.ClientDetails))" data-toggle="tooltip" data-placement="right" title="Lista Kontaktów">
                                <a class="nav-link ">
                                    <i><img src="/Images/icons8-address-book-40.png" /></i><span class="@(showSidebar ? "link-text" : "text-hidden")">Lista Kontaktów</span>
                                </a>
                            </li>
                        }

                        @if (MainStore.GetState().AppActiveUserManager.IsRoot || MainStore.GetState().AppActiveUserManager.IsClientJobsVisible)
                        {
                            <li class="nav-item @(MainStore.GetState().ActivePanel == LegalAppPanels.ClientJobs ? "active" : "") " @onclick="@(() => MainStore.SetActivePanel(LegalAppPanels.ClientJobs))" data-toggle="tooltip" data-placement="right" title="Lista zadań">
                                <a class="nav-link ">
                                    <i><img src="/Images/icons8-to-do-36.png" /></i> <span class="@(showSidebar ? "link-text" : "text-hidden")">Lista Zadań</span>
                                </a>
                            </li>
                        }

                        <li class="nav-item  @(MainStore.GetState().ActivePanel == LegalAppPanels.Cases ? "active" : "")" @onclick="@(() => MainStore.SetActivePanel(LegalAppPanels.Cases))" data-toggle="tooltip" data-placement="right" title="Sprawy">
                            <a class="nav-link ">
                                <i><img src="/Images/icons8-documents-36.png" /></i><span class="@(showSidebar ? "link-text" : "text-hidden")">Sprawy</span>
                            </a>
                        </li>

                        @if (MainStore.GetState().AppActiveUserManager.IsRoot || MainStore.GetState().AppActiveUserManager.IsFinanceVisible)
                        {
                            <li class="nav-item @(MainStore.GetState().ActivePanel == LegalAppPanels.Finance ? "active" : "") " @onclick="@(() => MainStore.SetActivePanel(LegalAppPanels.Finance))" data-toggle="tooltip" data-placement="right" title="Finanse">
                                <a class="nav-link ">
                                    <i><img src="/Images/icons8-money-box-36.png" /></i><span class="@(showSidebar ? "link-text" : "text-hidden")">Finanse</span>
                                </a>
                            </li>
                        }

                        @if (MainStore.GetState().AppActiveUserManager.IsRoot || MainStore.GetState().AppActiveUserManager.IsProductivityVisible)
                        {
                            <li class="nav-item @(MainStore.GetState().ActivePanel == LegalAppPanels.Productivity ? "active" : "")" @onclick="@(() => MainStore.SetActivePanel(LegalAppPanels.Productivity))" data-toggle="tooltip" data-placement="right" title="Rozliczenia">
                                <a class="nav-link ">
                                    <i><img src="/Images/icons8-combo-chart-36.png" /></i> <span class="@(showSidebar ? "link-text" : "text-hidden")">Rozliczenia</span>
                                </a>
                            </li>
                        }
                    }

                    @if (MainStore.GetState().AppActiveUserManager.IsRoot || MainStore.GetState().AppActiveUserManager.IsArchiveVisible)
                    {
                        <li class="nav-item @(MainStore.GetState().ActivePanel == LegalAppPanels.Archive ? "active" : "")" @onclick="@(() => MainStore.SetActivePanel(LegalAppPanels.Archive))" data-toggle="tooltip" data-placement="right" title="Archiwum">
                            <a class="nav-link ">
                                <i><img src="/Images/icons8-filing-cabinet-36.png" /></i><span class="@(showSidebar ? "link-text" : "text-hidden")"> Archiwum</span>
                            </a>
                        </li>
                    }

                </ul>
            </nav>

            <nav id="top-menu" class="@(!showTopNav ? "" : "top-menu-add")">
                <ul class="top-items">
                    <li class="drop-list">
                        <p>
                            <strong>Wybierz Klienta: </strong>
                        </p>
                    </li>
                    <li class="drop-list">
                        <p>
                            <Radzen.Blazor.RadzenDropDown AllowClear="true" TValue="string" AllowFiltering="true" Data="@MainStore.GetState().Clients" @bind-Value="MainStore.GetState().SelectedClientString" TextProperty="Name" ValueProperty="IdString" Change="@(args => MainStore.ActiveClientChange(args))" Style="width: 200px;" />
                        </p>
                    </li>

                    <li class="nav-item @(showTopNav ? "nav-item" : "nav-item-hidden")">
                        <a class="nav-link profile">
                            <i><img src="/Images/icons8-profile-36.png" /></i>
                            <span class="link-text">@MainStore.GetState().AppActiveUserManager.UserName</span>
                        </a>
                    </li>

                    <li class="nav-item  @(MainStore.GetState().ActivePanel == LegalAppPanels.Calendar ? "" : "") @(showTopNav ? "nav-item" : "nav-item-hidden")" @onclick="@(() => MainStore.SetActivePanel(LegalAppPanels.Calendar))">
                        <a class="nav-link ">
                            @*//todo: make it dynamic*@
                            <i><img class="reminder-bell" src="/Images/icons8-notification-36.png" /></i> <span class="link-text">Przypomnienia</span><span class="number">@MainStore.GetState().UpcomingReminders.ToString()</span>
                        </a>
                    </li>
                    <li class="nav-item @(showTopNav ? "nav-item" : "nav-item-hidden")">
                        <a class="nav-link" href="/Index">
                            <i><img src="/Images/icons8-exit-36.png" /></i><span class="link-text"> Wyloguj</span>
                        </a>
                    </li>

                </ul>

                <div><button class="top-toggle" @onclick="ShowHideTopNav"><span class="line"></span></button></div>
            </nav>

            <div id="main-window">
                <RadzenDialog />
                <RadzenTooltip />
                <RadzenNotification />
                @switch (MainStore.GetState().ActivePanel)
                {
                    case LegalAppPanels.Clients:
                        <LegalSwpClients />
                        break;
                    case LegalAppPanels.Calendar:
                        <LegalSwpCalendar />
                        break;
                    case LegalAppPanels.Cases:
                        <LegalSwpCases />
                        break;
                    case LegalAppPanels.MyApp:
                        <LegalSwpMyApp />
                        break;
                    case LegalAppPanels.ErrorPage:
                        <LegalSwpError />
                        break;
                    case LegalAppPanels.Finance:
                        <LegalSwpFinance />
                        break;
                    case LegalAppPanels.Productivity:
                        <LegalSwpProductivity />
                        break;
                    case LegalAppPanels.ClientJobs:
                        <LegalSwpClientJobs />
                        break;
                    case LegalAppPanels.Archive:
                        <LegalSwpArchive />
                        break;
                    case LegalAppPanels.ClientDetails:
                        <LegalSwpClientDetails />
                        break;
                    case LegalAppPanels.UserManager:
                        <LegalSwpUserManager />
                        break;
                    case LegalAppPanels.Info:
                        <LegalSwpInfo />
                        break;
                    default:
                        <LegalSwpInfo />
                        break;
                }
            </div>
        </div>
    }
    else
    {
        if (MainStore.GetState().AppActiveUserManager.ProfileName is null)
        {
            <LegalAppGeneralWarningComponent Message="@("Brak Profilu! Skontaktuj się z nami jeśli chcesz zakupić licencję.")"></LegalAppGeneralWarningComponent>
        }
        else if (!MainStore.GetState().AppActiveUserManager.IsLegalLicenseActive)
        {
            <LegalAppGeneralWarningComponent Message="@("Licencja nieaktywna! Skontaktuj się z nami jeśli chcesz zakupić licencję.")"></LegalAppGeneralWarningComponent>
        }
    }
}
else
{
    <LoaderComponent Message="@MainStore.LoadingMessage"></LoaderComponent>
}


