@page
@using SWP.UI.Utilities
@model SWP.UI.Pages.News.IndexModel
@{
}

@if (User.Identity.IsAuthenticated && User.IsInRole(PortalNames.Roles.Administrators))
{

    <a class="btn py-2 px-3" asp-page="/News/Manager/Index"><img class="r-btn" src="/Images/icons8-add-new-24.png" />Dodaj aktualności</a>

}
<div class="container-fluid product">
    <div>
        <h1 class="text-center py-3">Aktualności</h1>
    </div>
    <div class="container">
        <div class="pb-4 pt-0"> <partial name="_NewsPagination" model="Model.DataModel" /></div>
        <div class="row py-4">
            @foreach (var singleNews in Model.DataModel.News)
            {
                var imageNews = $"/Image/{singleNews.ImagePath}";
                <div class="col-sm-6 p-4">

                    <div class="hovereffect">
                        <img class="img-responsive img-thumbnail" src="@imageNews" alt="Card image">
                        <div class="overlay">
                            <h2 class="text-center py-1">
                                <span>
                                    @singleNews.Title
                                </span>
                                <span>
                                    @singleNews.Created.ToShortDateString()
                                </span>
                            </h2>
                            <p>@singleNews.ShortNews</p>
                            <a class="info" asp-page="/News/NewsDetails" asp-route-id="@singleNews.Id">Zobacz</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div><partial name="_NewsPagination" model="Model.DataModel" /></div>
</div>
