@page
@using SWP.UI.Utilities
@model SWP.UI.Pages.News.IndexModel
@{
}

@if (User.Identity.IsAuthenticated && User.IsInRole(PortalNames.Roles.Administrators))
{

    <a class="btn py-2 px-3" asp-page="/News/Manager/Index"><img class="r-btn" src="/Images/icons8-add-new-24.png" />Dodaj aktualności</a>

}
<div class="container-fluid product">
   <div class="container">
        <div class="pb-4 pt-0"> <partial name="_NewsPagination" model="Model.DataModel" /></div>
        <div class="row">
            @foreach (var singleNews in Model.DataModel.News)
            {
                var imageNews = $"/Image/{singleNews.ImagePath}";

                <div class="col-4 p-4">
                    <img class="img-responsive img-thumbnail" src="@imageNews" alt="Card image">
                            
                    <div class="news-nav py-2">
                        <h5 class="text-muted">
                            @singleNews.Title
                        </h5>
                        <h5 class="text-muted">
                            @singleNews.Created.ToShortDateString()
                        </h5>
                    </div>
                    <div class="py-2">
                        <p> @singleNews.Description<span>...</span></p>
                        <a class="main-links pt-0" asp-page="/News/NewsDetails" asp-route-id="@singleNews.Id"> Czytaj więcej <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            }
        </div>

    </div>
    <div><partial name="_NewsPagination" model="Model.DataModel" /></div>
</div>
