@if (App.Clients.Count != 0)
{
    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="refresh" Style="margin-bottom: 20px; width: 150px" Click="App.MyAppPage.RefreshData"></RadzenButton>

    <RadzenButton Click="App.ErrorPage.ThrowTestException">Zrób Błąd żeby zobaczyć Error Page!</RadzenButton>

    @*<RadzenListBox AllowFiltering="true" @bind-Value="RelatedUsersFilterValue" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data="@App.User.RelatedUsers" TextProperty="UserName" ValueProperty="Id" Style="margin-bottom: 20px; height:200px;" Change="@(args => App.MyAppPage.SelectedUserChange(args))" />*@

    <div>
        <RadzenDropDown AllowClear="true"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true" @bind-Value="RelatedUsersFilterValue"
                        Data="@App.User.RelatedUsers" TextProperty="UserName" ValueProperty="Id" Style="margin-bottom: 20px" Change="@(args => App.MyAppPage.SelectedUserChange(args))" />
    </div>

    @if (App.MyAppPage.SelectedUser != null && App.User.RootClient && App.ActiveUserId != App.MyAppPage.SelectedUser.Id)
    {
        <h1>Mozna skasowac</h1>
        <RadzenButton Text="Usuń powiązanie!" Click="App.MyAppPage.RemoveRelation"></RadzenButton>
    }

    @if (App.MyAppPage.SelectedUser != null && App.User.RootClient && App.ActiveUserId == App.MyAppPage.SelectedUser.Id)
    {
        <h1>Uwaga!</h1>
        <RadzenButton Text=@($"Usuń wszystkie dane powiązane z profilem") Click="App.MyAppPage.ConfirmRemoveRelation" />
    }

    <div class="flex-my-app">
        @if (App.MyAppPage.ProductivityData.Count != 0)
        {<div class="app-chart app-balance app-balance-1 grid">
                <i><img src="/Images/icons8-profit-40.png" /></i>
                @if (App.ActiveClient == null)
                {
                    <h3>Całkowity Bilans Kancelarii</h3>
                    <h5>@App.MyAppPage.TotalBalance.FormatPLN()</h5>
                }
                else
                {
                    <h3>Bilans Klienta: @App.ActiveClient.Name</h3>
                    <h5>@App.MyAppPage.TotalBalance.FormatPLN()</h5>
                }

            </div>
        }
        @if (App.MyAppPage.ProductivityData.Count != 0)
        {<div class="app-chart app-balance app-balance-2 grid">
                <i><img src="/Images/icons8-initiate-money-transfer-40.png" /></i>
                @if (App.ActiveClient == null)
                {
                    <h3>Całkowite Koszty Kancelarii</h3>
                    <h5>@App.MyAppPage.TotalBalance.FormatPLN()</h5>
                }
                else
                {
                    <h3>Koszty Klienta: @App.ActiveClient.Name</h3>
                    <h5>@App.MyAppPage.TotalBalance.FormatPLN()</h5>
                }

            </div>
        }

        @if (App.MyAppPage.ClientsCases.Count != 0)
        {<div class="app-chart app-pie-chart grid">
                <h3>Liczba spraw poszczególnych klientów</h3>
                <RadzenChart ColorScheme="@App.MyAppPage.ColorScheme" Style="width: 500px;">
                    <RadzenPieSeries Data="@App.MyAppPage.ClientsCases" Title="Sprawy" CategoryProperty="Category" ValueProperty="Number" />
                    <RadzenLegend Position="LegendPosition.Bottom" />
                </RadzenChart>
            </div>
        }

    </div>

    @if (App.MyAppPage.ProductivityData.Count != 0)
    {<div class="flex-my-app">
            <div class="app-chart app-line-chart app-line-chart-1 grid">
                <h3>Bilans w PLN</h3>
                <RadzenChart ColorScheme="@App.MyAppPage.ColorScheme">
                    @foreach (var data in App.MyAppPage.ProductivityData)
                    {
                        <RadzenLineSeries Smooth="true" Data="@data.DataByDate" CategoryProperty="Date" Title="@data.Name" LineType="LineType.Solid" ValueProperty="Number">
                            <RadzenMarkers MarkerType="MarkerType.Circle" />
                        </RadzenLineSeries>
                    }
                    <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" />
                    <RadzenValueAxis Formatter="@FormatAsPLN">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Bilans w PLN" />
                    </RadzenValueAxis>
                    <RadzenLegend Position="LegendPosition.Bottom" />
                </RadzenChart>

            </div>

            <div class="app-chart app-line-chart app-line-chart-2 grid">
                <h3>Zestawienie Kosztów</h3>
                <RadzenChart ColorScheme="@App.MyAppPage.ColorScheme">
                    @foreach (var data in App.MyAppPage.ProductivityData)
                    {
                        <RadzenColumnSeries Data="@data.DataByDate" CategoryProperty="Date" Title="@data.Name" ValueProperty="Expenses">
                            <RadzenColumnOptions Radius="5" />
                        </RadzenColumnSeries>
                    }

                    <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" />

                    <RadzenValueAxis Formatter="@FormatAsPLN">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Koszty w PLN" />
                    </RadzenValueAxis>
                    <RadzenLegend Position="LegendPosition.Bottom" />
                </RadzenChart>

            </div>

            <div class="app-chart app-line-chart app-line-chart-3 grid">
                <h3>Czas poświęcony Klientom</h3>
                <RadzenChart ColorScheme="@App.MyAppPage.ColorScheme">
                    @foreach (var data in App.MyAppPage.ProductivityData)
                    {
                        <RadzenBarSeries Data="@data.DataByDate" CategoryProperty="Date" Title="@data.Name" LineType="LineType.Solid" ValueProperty="TimeNumber">
                            <RadzenBarOptions Radius="5" />
                        </RadzenBarSeries>
                    }

                    <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" />
                    <RadzenValueAxis Formatter="@FormatAsTime">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Czas poświęcony klientom" />
                    </RadzenValueAxis>
                    <RadzenLegend Position="LegendPosition.Bottom" />
                </RadzenChart>

            </div>
            <div class="app-chart app-line-chart app-line-chart-4 grid">
                <h3>Zysk na godzinę</h3>
                <RadzenChart ColorScheme="@App.MyAppPage.ColorScheme">
                    @foreach (var data in App.MyAppPage.ProductivityData)
                    {
                        <RadzenLineSeries Smooth="true" Data="@data.DataByDate" CategoryProperty="Date" Title="@data.Name" LineType="LineType.Solid" ValueProperty="ProductivityRatio">
                            <RadzenMarkers MarkerType="MarkerType.Circle" />
                        </RadzenLineSeries>
                    }

                    <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" />
                    <RadzenValueAxis Formatter="@FormatAsPLN">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="PLN / godzinę" />
                    </RadzenValueAxis>
                    <RadzenLegend Position="LegendPosition.Bottom" />
                </RadzenChart>
            </div>

        </div>


    }
    else
    {
        <h2>Aby zobaczyć statystyki wprowadź dane do sekcji Finanse i Produktywność</h2>
    }


}
else
{
    <h2>Nie masz jeszcze zadnych klientow!</h2>
}
