<div class="show-hide tab-section"><button class="show-hide-btn show-hide-btn-1 @(showContactsListVisible ? "button-active" : "")" @onclick="ShowHideContactsList"><span>Lista Kontaktów</span></button></div>

@if (showContactsListVisible)
{
    <div class="row-section">

        <RadzenTemplateForm Data="@App.ClientDetailsPage.NewContact" Submit="@(async (CreateContactPerson.Request args) => { await App.ClientDetailsPage.SubmitNewContact(args); })">
            <RadzenFieldset Text="Osoba Kontaktowa">
                <div class="form">
                    <i class="user-icon"><img src="/Images/icons8-reception-36.png" /></i>

                    @if (contactsListInfoVisible)
                    {
                        <div class="info-text">
                            <p>Zarządzaj listą swoich klientów. Użyj guzika "Dodaj Nowego Klienta",aby uzupełnić listę kontaktów.</p>
                            <p>Edytuj oraz usuwaj Klientów z głównej listy. Tekst do zupełnienia.</p>
                        </div>
                    }
                    <button class="info" @onclick="ShowHideContactsI"></button>

                </div>
                <div class="form">
                    <div class="label">
                        <RadzenLabel Text="Imię" Style="font-size: 14px; font-weight:bold" />
                    </div>
                    <div class="text">
                        <RadzenTextArea Placeholder="Imię..." @bind-Value="App.ClientDetailsPage.NewContact.Name" style="width: 100%;" Name="Name" />
                        <RadzenRequiredValidator Component="Name" Text="Imię nie może być puste!" style="width: 100%;" />
                        <RadzenLengthValidator Max="50" Text="Maksymalnie 50 znaków!" Component="Name" Style="position: absolute" />
                    </div>

                    <div class="label">
                        <RadzenLabel Text="Nazwisko" Style="font-size: 14px; font-weight:bold" />
                    </div>
                    <div class="text">
                        <RadzenTextArea Placeholder="Nazwisko..." @bind-Value="App.ClientDetailsPage.NewContact.Surname" style="width: 100%;" Name="Surname" />
                        <RadzenRequiredValidator Component="Surname" Text="Nazwisko nie może być puste!" style="width: 100%;" />
                        <RadzenLengthValidator Max="50" Text="Maksymalnie 50 znaków!" Component="Surname" Style="position: absolute" />
                    </div>

                    <div class="label">
                        <RadzenLabel Text="Adres" Style="font-size: 14px; font-weight:bold" />
                    </div>
                    <div class="text">
                        <RadzenTextArea Placeholder="Adres..." @bind-Value="App.ClientDetailsPage.NewContact.Address" style="width: 100%;" Name="Address" />
                        <RadzenLengthValidator Max="500" Text="Maksymalnie 500 znaków!" Component="Address" Style="position: absolute" />
                    </div>

                </div>
                <div class="form">
                    <div class="label">
                        <RadzenLabel Text="Telefon" Style="font-size: 14px; font-weight:bold" />
                    </div>
                    <div class="text">
                        <RadzenTextBox Placeholder="Telefon..." @bind-Value="App.ClientDetailsPage.NewContact.PhoneNumber" style="width: 100%;" Name="PhoneNumber1" />
                        <RadzenLengthValidator Max="50" Text="Maksymalnie 50 znaków!" Component="PhoneNumber1" Style="position: absolute" />
                    </div>

                    <div class="label">
                        <RadzenLabel Text="Telefon2" Style="font-size: 14px; font-weight:bold" />
                    </div>
                    <div class="text">
                        <RadzenTextBox Placeholder="Telefon..." @bind-Value="App.ClientDetailsPage.NewContact.AlternativePhoneNumber" style="width: 100%;" Name="PhoneNumber2" />
                        <RadzenLengthValidator Max="50" Text="Maksymalnie 50 znaków!" Component="PhoneNumber2" Style="position: absolute" />
                    </div>

                    <div class="label">
                        <RadzenLabel Text="Email" Style="font-size: 14px; font-weight:bold" />
                    </div>
                    <div class="text">
                        <RadzenTextBox Placeholder="Adres Email..." @bind-Value="App.ClientDetailsPage.NewContact.Email" style="width: 100%;" Name="Email" />
                        <RadzenEmailValidator Component="Email" Text="Nieprawidłowy adres Email!" />
                        <RadzenLengthValidator Max="50" Text="Maksymalnie 50 znaków!" Component="Email" Style="position: absolute" />
                    </div>


                </div>
                <div class="form-btn">
                    <div class="btn-add">
                        <div>
                            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Zapisz Kontakt" ButtonStyle="ButtonStyle.Secondary" />
                        </div>
                    </div>
                </div>
            </RadzenFieldset>
        </RadzenTemplateForm>

        <RadzenGrid @ref="App.ClientDetailsPage.ContactsGrid" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true"
                    Data="@App.ActiveClientWithData.ContactPeople" TItem="ContactPersonViewModel" RowUpdate="@App.ClientDetailsPage.OnUpdateContactRow" RowSelect="@(args => App.ClientDetailsPage.ContactSelected(args))">
            <Columns>
                <RadzenGridColumn TItem="ContactPersonViewModel" Property="Name" Title="Nazwa">
                    <EditTemplate Context="contact">
                        <RadzenTextBox @bind-Value="contact.Name" Name="Name" />
                        <RadzenRequiredValidator Text="Inię nie może być puste!" Component="Name" Popup="true" />
                        <RadzenLengthValidator Max="50" Text="Maksymalnie 50 znaków!" Component="Name" Popup="true" />
                    </EditTemplate>
                </RadzenGridColumn>

                <RadzenGridColumn TItem="ContactPersonViewModel" Property="Surname" Title="Nazwisko">
                    <EditTemplate Context="contact">
                        <RadzenTextBox @bind-Value="contact.Surname" Name="Surname" />
                        <RadzenRequiredValidator Text="Nazwosko nie może być puste!" Component="Surname" Popup="true" />
                        <RadzenLengthValidator Max="50" Text="Maksymalnie 50 znaków!" Component="Surname" Popup="true" />
                    </EditTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ContactPersonViewModel" Property="Email" Title="Email" Width="100px">
                    <EditTemplate Context="contact">
                        <RadzenTextBox @bind-Value="contact.Email" Name="Nazwa" />
                    </EditTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ContactPersonViewModel" Property="PhoneNumber" Title="Telefon">
                    <EditTemplate Context="contact">
                        <RadzenTextBox @bind-Value="contact.PhoneNumber" Name="PhoneNumber" />
                    </EditTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ContactPersonViewModel" Property="AlternativePhoneNumber" Title="Drugi Telefon">
                    <EditTemplate Context="contact">
                        <RadzenTextBox @bind-Value="contact.AlternativePhoneNumber" Name="AlternativePhoneNumber" />
                    </EditTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ContactPersonViewModel" Property="Address" Title="Addres">
                    <EditTemplate Context="contact">
                        <RadzenTextBox @bind-Value="contact.Address" Name="Address" />
                    </EditTemplate>
                </RadzenGridColumn>

                <RadzenGridColumn TItem="ContactPersonViewModel" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                    <Template Context="c">
                        <RadzenButton Icon="edit" Size="ButtonSize.Medium" Click="@(args => App.ClientDetailsPage.EditContactRow(c))">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="c">
                        <RadzenButton Icon="save" Size="ButtonSize.Medium" Click="@((args) => App.ClientDetailsPage.SaveContactRow(c))">
                        </RadzenButton>
                        <RadzenButton Icon="cancel" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Success" Click="@((args) => App.ClientDetailsPage.CancelContactEdit(c))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ContactPersonViewModel" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                    <Template Context="c">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(async (args) => await App.ClientDetailsPage.DeleteContactRow(c))">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="client">
                    </EditTemplate>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
        @if (App.ClientDetailsPage.SelectedContact != null)
        {
            <div class="contact-details">
                <div>
                    <div class="text"><strong>Imię:</strong> @App.ClientDetailsPage.SelectedContact.Name</div>
                    <div class="text"><strong>Nazwisko:</strong> @App.ClientDetailsPage.SelectedContact.Surname</div>
                    <div class="text"><strong>Telefon:</strong> @App.ClientDetailsPage.SelectedContact.PhoneNumber</div>
                    <div class="text"><strong>Telefon 2:</strong> @App.ClientDetailsPage.SelectedContact.AlternativePhoneNumber</div>
                </div>
                <div>
                    <div class="text"><strong>Adres:</strong> @App.ClientDetailsPage.SelectedContact.Address</div>
                    <div class="text"><strong>Zmienione przez:</strong> @App.ClientDetailsPage.SelectedContact.UpdatedBy</div>
                    <div class="text"><strong>Data zmiany:</strong>@App.ClientDetailsPage.SelectedContact.Updated</div>
                    <div class="text"><strong>Data utworzenia:</strong> @App.ClientDetailsPage.SelectedContact.Created</div>
                </div>
            </div>
        }
    </div>
}
