@using SWP.UI.Components.LegalSwpBlazorComponents.SchedulerInnerComponents
@inject GeneralViewModel generalViewModel

<h2>Kalendarz</h2>

<div class="row">
    <div class="col-md-12">
        <RadzenDialog />
        <RadzenNotification />

        <RadzenScheduler @ref="App.CalendarPage.RemindersScheduler" style="height: 768px;" TItem="ReminderViewModel" Data="@App.CalendarPage.Reminders" StartProperty="Start" EndProperty="End" TextProperty="Name" SelectedIndex="2" AppointmentSelect="@App.CalendarPage.OnAppointmentSelect" TodayText="Dzisiaj" AppointmentRender="@App.CalendarPage.OnAppointmentRender">
            <Template Context="data">
                <strong>@data.Name</strong>
            </Template>
            <ChildContent>
                <RadzenDayView Text="Dzień" StartTime="@(new TimeSpan(0, 0, 0))" EndTime="@(new TimeSpan(24, 0, 0))" />
                <RadzenWeekView Text="Tydzień" StartTime="@(new TimeSpan(0, 0, 0))" EndTime="@(new TimeSpan(24, 0, 0))"  />
                <RadzenMonthView Text="Miesiąc" />
            </ChildContent>
        </RadzenScheduler>
    </div>
</div>

@code {
    [Parameter]
    public LegalBlazorApp App { get; set; }
    [Parameter]
    public EventCallback<LegalBlazorApp> AppChanged { get; set; }
}
