@implements IDisposable
@inject NotificationService notificationService
@inject LegalBlazorApp App

@if (!initializing)
{
    @if (App.User.Profile != null)
    {
        <div id="grid-container-2">
            <div id="sidebar">
                <div class="text-center">
                    <img class="mt-4 mb-4" src="/Images/icons8-courthouse-80.png" />
                </div>
                <p class="explain px-3">Wybierz Klienta by zobaczyc jego sprawy</p>
                <div class="input-group">
                    <Radzen.Blazor.RadzenDropDown AllowClear="true" TValue="string" AllowFiltering="true" Data="@App.Clients" TextProperty="Name" ValueProperty="IdStr" Style="margin-bottom: 20px; width: 190px;" Change="@(args => App.ActiveClientChange(args))" />
                </div>
                <div>
                    <ul class="nav flex-column">
                        <li class="nav-item px-3">

                            <NavLink class="nav-link" @onclick="@(() => App.SetActivePanel(LegalBlazorApp.Panels.MyApp))">
                                <i><img src="/Images/icons8-web-design-36.png" /></i> Moja Aplikacja
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" @onclick="@(() => App.SetActivePanel(LegalBlazorApp.Panels.Clients))">
                                <i><img src="/Images/icons8-reception-36.png" /></i> Klienci
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" @onclick="@(() => App.SetActivePanel(LegalBlazorApp.Panels.Calendar))">
                                <i><img src="/Images/icons8-calendar-12-36.png" /></i> Kalendarz
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" @onclick="@(() => App.SetActivePanel(LegalBlazorApp.Panels.ErrorPage))">
                                Error Page For TESTS!
                            </NavLink>
                        </li>

                        @if (App.ActiveClientWithData != null)
                        {
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" @onclick="@(() => App.SetActivePanel(LegalBlazorApp.Panels.ClientJobs))">
                                    <i><img src="/Images/icons8-combo-chart-36.png" /></i> Zadania
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" @onclick="@(() => App.SetActivePanel(LegalBlazorApp.Panels.Cases))">
                                    <i><img src="/Images/icons8-business-report-36.png" /></i> Sprawy
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" @onclick="@(() => App.SetActivePanel(LegalBlazorApp.Panels.Finance))">
                                    <i><img src="/Images/icons8-money-box-36.png" /></i> Finanse
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" @onclick="@(() => App.SetActivePanel(LegalBlazorApp.Panels.Productivity))">
                                    <i><img src="/Images/icons8-combo-chart-36.png" /></i> Produktywność
                                </NavLink>
                            </li>
                        }

                        <li class="nav-item px-3">
                            <NavLink class="nav-link" @onclick="@(() => App.SetActivePanel(LegalBlazorApp.Panels.Archive))">
                                <i><img src="/Images/icons8-calendar-12-36.png" /></i> Archiwum
                            </NavLink>
                        </li>

                    </ul>
                </div>
            </div>


            <div id="top-menu">
                <ul>
                    <li class="user"><a href="/Index"><img src="/Images/icons8-exit-36.png" /></a></li>
                    <li class="user"><p><strong>Użytkownik:</strong> @App.User.UserName</p></li>
                </ul>
            </div>
            <div id="main-window">
                <RadzenDialog />
                <RadzenNotification />
                @switch (App.ActivePanel)
                {
                    case LegalBlazorApp.Panels.Clients:
                        <LegalSwpClients @bind-App="App" />
                        break;
                    case LegalBlazorApp.Panels.Calendar:
                        <LegalSwpCalendar @bind-App="App" />
                        break;
                    case LegalBlazorApp.Panels.Cases:
                        <LegalSwpCases @bind-App="App" />
                        break;
                    case LegalBlazorApp.Panels.MyApp:
                        <LegalSwpMyApp @bind-App="App" />
                        break;
                    case LegalBlazorApp.Panels.ErrorPage:
                        <LegalSwpError @bind-App="App" />
                        break;
                    case LegalBlazorApp.Panels.Finance:
                        <LegalSwpFinance @bind-App="App" />
                        break;
                    case LegalBlazorApp.Panels.Productivity:
                        <LegalSwpProductivity @bind-App="App" />
                        break;
                    case LegalBlazorApp.Panels.ClientJobs:
                        <LegalSwpClientJobs @bind-App="App" />
                        break;
                    case LegalBlazorApp.Panels.Archive:
                        <LegalSwpArchive @bind-App="App" />
                        break;
                    default:
                        <LegalSwpMyApp @bind-App="App" />
                        break;
                }
            </div>
          
            <div id="footer">
                <p>Placeholder</p>
                <p>Placeholder 2</p>
            </div>
        </div>
    }
    else
    {
        <LegalSwpNoProfileWarning />
    }
}
else
{
    <LoaderComponent />
}

@code {
    [Parameter]
    public string ActiveUserId { get; set; }

    private bool initializing = false;

    protected override async Task OnInitializedAsync()
    {
        initializing = true;

        await App.Initialize(ActiveUserId);
        App.CallStateHasChanged += new EventHandler(CallStateHasChanged);

        initializing = false;
    }

    private void CallStateHasChanged(object sender, EventArgs e) => StateHasChanged();

    public void Dispose() => App.CallStateHasChanged -= new EventHandler(CallStateHasChanged);
}
