<div class="row">
    <div class="col-md-6">
        <RadzenGrid @ref="App.ProductivityPage.TimeRecordsGrid" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true"
                    Data="@App.ActiveClientWithData.TimeRecords" TItem="TimeRecordViewModel" RowUpdate="@App.ProductivityPage.OnUpdateTimeRecordRow" RowSelect="@(args => App.ProductivityPage.ActiveTimeRecordChange(args))">
            <Columns>
                <RadzenGridColumn TItem="TimeRecordViewModel" Property="Name" Title="Nazwa">
                    <EditTemplate Context="r">
                        <RadzenTextBox @bind-Value="r.Name" Style="width:100%; display: block" Name="Name" />
                        <RadzenRequiredValidator Component="Name" Text="Nazwa nie może być pusta!" Popup="true" />
                        <RadzenLengthValidator Max="50" Text="Maksymalnie 50 znaków!" Component="Name" Popup="true" />
                    </EditTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="TimeRecordViewModel" Property="Description" Title="Opis">
                    <EditTemplate Context="r">
                        <RadzenTextArea @bind-Value="r.Description" Style="width:100%; display: block" Name="Description" />
                        <RadzenLengthValidator Max="500" Text="Maksymalnie 500 znaków!" Component="Description" Popup="true" />
                    </EditTemplate>
                </RadzenGridColumn>

                <RadzenGridColumn TItem="TimeRecordViewModel" Property="RecordedHours" Title="Godziny">
                    <EditTemplate Context="r">
                        <RadzenNumeric TValue="int" Step="1" @bind-Value="@r.RecordedHours" Name="Hours"  Placeholder="0"/>
                        <RadzenRequiredValidator Text="Czas musi być wprowadzony!" Component="Hours" Popup="true" />
                        <RadzenNumericRangeValidator Component="Hours" Min="0" Text="Wartość dla godzin nie może być mniejsza od zera!" Style="position: absolute" />
                    </EditTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="TimeRecordViewModel" Property="RecordedMinutes" Title="Minuty">
                    <EditTemplate Context="r">
                        <RadzenNumeric TValue="int" Step="1" @bind-Value="@r.RecordedMinutes" Name="Minutes" Placeholder="1" />
                        <RadzenRequiredValidator Text="Czas musi być wprowadzony!" Component="Minutes" Popup="true" />
                        <RadzenNumericRangeValidator Component="Minutes" Min="0" Text="Wartość dla minut nie może być mniejsza od zera!" Style="position: absolute" />
                        <RadzenNumericRangeValidator Component="Minutes" Max="59" Text="Wartość dla minut nie może być większa od 59!" Style="position: absolute" />
                    </EditTemplate>
                </RadzenGridColumn>

                <RadzenGridColumn TItem="TimeRecordViewModel" Property="EventDate" Title="Data">
                    <Template Context="r">
                        @String.Format("{0:d}", r.EventDate)
                    </Template>
                    <EditTemplate Context="r">
                        <RadzenDatePicker @bind-Value="r.EventDate" Name="EventDate" DateFormat="dd/MM/yyyy" />
                        <RadzenRequiredValidator Component="EventDate" Text="Data nie może być pusta!" Popup="true" />
                    </EditTemplate>
                </RadzenGridColumn>

                <RadzenGridColumn TItem="TimeRecordViewModel" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="r">
                        <RadzenButton Icon="edit" Size="ButtonSize.Medium" Click="@(args => App.ProductivityPage.EditTimeRecordRow(r))">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="r">
                        <RadzenButton Icon="save" Size="ButtonSize.Medium" Click="@((args) => App.ProductivityPage.SaveTimeRecordRow(r))">
                        </RadzenButton>
                        <RadzenButton Icon="cancel" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Success" Click="@((args) => App.ProductivityPage.CancelTimeRecordEdit(r))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="TimeRecordViewModel" Context="order" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="50px">
                    <Template Context="r">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(async (args) => await App.ProductivityPage.DeleteTimeRecordRow(r))">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="r">
                    </EditTemplate>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>
    <div class="col-md-6">
        <RadzenCard Style="margin-bottom:20px">
            Klient: <b>@App.ActiveClient.Name</b>
        </RadzenCard>
        <RadzenCard>
            <div class="row">
                @if (App.ActiveClientWithData.SelectedTimeRecord != null)
                {
                    <div class="col-md-6">
                        <div>Nazwa:</div>
                        <b>@App.ActiveClientWithData.SelectedTimeRecord.Name</b>
                        <div>Opis:</div>
                        <b>@App.ActiveClientWithData.SelectedTimeRecord.Description</b>
                    </div>
                }
                else
                {
                    <p>Wybierz kwotę!</p>
                }
            </div>
        </RadzenCard>
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="Dodaj Nową Pozycję">
                    <RadzenTemplateForm Data="@App.ProductivityPage.NewTimeRecord" Submit="@(async (CreateTimeRecord.Request args) => { await App.ProductivityPage.SubmitNewTimeRecord(args); })">
                        <div class="row">
                            <RadzenFieldset Text="Wprowadź nową czynność i czas">
                                <div class="row">
                                    <div class="col-md-8 m-5">
                                        <RadzenTextBox Placeholder="Nazwa Srawy..." Style="margin-bottom: 30px" @bind-Value="App.ProductivityPage.NewTimeRecord.Name" Name="Name" />
                                        <RadzenRequiredValidator Text="Nazwa nie może być pusta!" Component="Name" Popup="true" />
                                        <RadzenLengthValidator Max="50" Text="Maksymalnie 50 znaków!" Component="Name" Popup="true" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 m-5">
                                        <RadzenTextArea Placeholder="Opis..." Style="margin-bottom: 30px" @bind-Value="App.ProductivityPage.NewTimeRecord.Description" Name="Description" />
                                        <RadzenLengthValidator Max="500" Text="Maksymalnie 500 znaków!" Component="Description" Popup="true" />
                                    </div>
                                </div>
                                <div class="row">

                                    <RadzenLabel Text="Godziny"></RadzenLabel>
                                    <RadzenNumeric TValue="int" Style="margin-bottom: 20px" @bind-Value="App.ProductivityPage.NewTimeRecord.RecordedHours" Name="Hours" Placeholder="0" />
                                    <RadzenRequiredValidator Text="Czas musi być wprowadzony!" Component="Hours" Popup="true" />
                                    <RadzenNumericRangeValidator Component="Hours" Min="0" Text="Wartość dla godzin nie może być mniejsza od zera!" Style="position: absolute" />

                                    <RadzenLabel Text="Minuty"></RadzenLabel>
                                    <RadzenNumeric TValue="int" Style="margin-bottom: 20px" @bind-Value="App.ProductivityPage.NewTimeRecord.RecordedMinutes" Name="Minutes" Placeholder="1" />
                                    <RadzenRequiredValidator Text="Czas musi być wprowadzony!" Component="Minutes" Popup="true" />
                                    <RadzenNumericRangeValidator Component="Minutes" Min="0" Text="Wartość dla minut nie może być mniejsza od zera!" Style="position: absolute" />
                                    <RadzenNumericRangeValidator Component="Minutes" Max="59" Text="Wartość dla minut nie może być większa od 59!" Style="position: absolute" />
                                </div>
                                <div class="row">

                                    <h3>Data</h3>
                                    <RadzenDatePicker @bind-Value="App.ProductivityPage.NewTimeRecord.EventDate" DateFormat="d" Name="EventDate" />
                                    <RadzenRequiredValidator Component="EventDate" Text="Data nie może być pusta!" Popup="true" />
                                </div>
                            </RadzenFieldset>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" ButtonType="ButtonType.Submit" Icon="save" Text="Zapisz" />
                            </div>
                        </div>
                    </RadzenTemplateForm>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Detale">


                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>
