@if (App.Clients.Count != 0)
{
    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="App.MyAppPage.RefreshData">Odśwież Dane</RadzenButton>

    <RadzenButton Click="App.ErrorPage.ThrowTestException">Zrob Bład zeby zobaczyc Error Page!</RadzenButton>

    <RadzenListBox AllowFiltering="true" @bind-Value="RelatedUsersFilterValue" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data="@App.User.RelatedUsers" TextProperty="UserName" ValueProperty="Id" Style="margin-bottom: 20px; height:200px;" Change="@(args => App.MyAppPage.SelectedUserChange(args))" />

    @if (App.MyAppPage.SelectedUser != null && App.User.RootClient && App.ActiveUserId != App.MyAppPage.SelectedUser.Id)
    {
        <h1>Mozna skasowac</h1>
        <RadzenButton Text="Usuń powiązanie!" Click="App.MyAppPage.RemoveRelation"></RadzenButton>
    }

    @if (App.MyAppPage.ClientsCases.Count != 0)
    {
        <div class="row">
            <RadzenChart ColorScheme="@App.MyAppPage.ColorScheme">
                <RadzenPieSeries Data="@App.MyAppPage.ClientsCases" Title="Sprawy" CategoryProperty="Category" ValueProperty="Number" />
            </RadzenChart>
        </div>
    }

    @if (App.MyAppPage.ProductivityData.Count != 0)
    {
        <RadzenCard>
            @if (App.ActiveClient == null)
            {
                <h2>Całkowity Bilans Kancelarii</h2>
                <b>@App.MyAppPage.TotalBalance.FormatPLN()</b>
            }
            else
            {
                <h2>Bilans Klienta: @App.ActiveClient.Name</h2>
                <b>@App.MyAppPage.TotalBalance.FormatPLN()</b>
            }
        </RadzenCard>

        <div style="width: 1000px; height:500px">
            <RadzenChart ColorScheme="@App.MyAppPage.ColorScheme">
                @foreach (var data in App.MyAppPage.ProductivityData)
                {
                    <RadzenLineSeries Smooth="true" Data="@data.DataByDate" CategoryProperty="Date" Title="@data.Name" LineType="LineType.Solid" ValueProperty="Number">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                }
                <RadzenCategoryAxis>
                    <RadzenAxisTitle Text="Czas" />
                </RadzenCategoryAxis>
                <RadzenValueAxis Formatter="@FormatAsPLN">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Bilans w PLN" />
                </RadzenValueAxis>
            </RadzenChart>
        </div>

        <div style="width: 1000px; height:500px">
            <RadzenChart ColorScheme="@App.MyAppPage.ColorScheme">
                @foreach (var data in App.MyAppPage.ProductivityData)
                {
                    <RadzenLineSeries Smooth="true" Data="@data.DataByDate" CategoryProperty="Date" Title="@data.Name" LineType="LineType.Solid" ValueProperty="TimeNumber">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                }
                <RadzenCategoryAxis>
                    <RadzenAxisTitle Text="Czas" />
                </RadzenCategoryAxis>
                <RadzenValueAxis Formatter="@FormatAsTime">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Czas poświęcony klientom" />
                </RadzenValueAxis>
            </RadzenChart>
        </div>

        <div style="width: 1000px; height:500px">
            <RadzenChart ColorScheme="@App.MyAppPage.ColorScheme">
                @foreach (var data in App.MyAppPage.ProductivityData)
                {
                    <RadzenLineSeries Smooth="true" Data="@data.DataByDate" CategoryProperty="Date" Title="@data.Name" LineType="LineType.Solid" ValueProperty="ProductivityRatio">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                }
                <RadzenCategoryAxis>
                    <RadzenAxisTitle Text="Czas" />
                </RadzenCategoryAxis>
                <RadzenValueAxis Formatter="@FormatAsPLN">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="PLN / godzinę" />
                </RadzenValueAxis>
            </RadzenChart>
        </div>
    }
    else
    {
        <h2>Aby zobaczyć statystyki wprowadź dane do sekcji Finanse i Produktywność</h2>
    }

}
else
{
    <h2>Nie masz jeszcze zadnych klientow!</h2>
}

