@using SWP.UI.Components.LegalSwpBlazorComponents.CasesInnerComponents 
@inject GeneralViewModel generalViewModel

@if (App.Loading)
{

}
else
{
    <RadzenGrid @ref="App.CasesPage.CasesGrid" AllowFiltering="true" AllowPaging="true" PageSize="5" AllowSorting="true"
                Data="@App.ActiveClientWithData.Cases" TItem="CaseViewModel" RowUpdate="@App.CasesPage.OnUpdateCaseRow" RowSelect="@(args => App.CasesPage.ActiveCaseChange(args))">
        <Columns>
            <RadzenGridColumn TItem="CaseViewModel" Property="Name" Title="Nazwa Sprawy">
                <EditTemplate Context="cs">
                    <RadzenTextBox @bind-Value="cs.Name" Style="width:100%; display: block" Name="CaseName" />
                    <RadzenRequiredValidator Text="Nazwa nie może być pusta!" Component="CaseName" Popup="true" />
                    <RadzenLengthValidator Max="50" Text="Max 50 characters!" Component="CaseName" Popup="true" />
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CaseViewModel" Property="Signature" Title="Sygnatura">
                <EditTemplate Context="cs">
                    <RadzenTextBox @bind-Value="cs.Signature" Style="width:100%; display: block" Name="Sygnatura" />
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CaseViewModel" Property="CaseType" Title="Typ Sprawy">
                <EditTemplate Context="cs">
                    <RadzenTextBox @bind-Value="cs.CaseType" Style="width:100%; display: block" Name="Typ sprawy" />
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CaseViewModel" Property="Description" Title="Opis">
                <EditTemplate Context="cs">
                    <Radzen.Blazor.RadzenTextArea @bind-Value="cs.Description" Style="width:100%; display: block" Name="Description" />
                    <RadzenLengthValidator Max="500" Text="Max 500 characters!" Component="Description" Popup="true" />
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CaseViewModel" Property="Created" Title="@GeneralViewModel.Created">
                <Template Context="cs">
                    @cs.Created.ToString(GeneralViewModel.DateFormant)
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CaseViewModel" Property="Updated" Title="@GeneralViewModel.Updated">
                <Template Context="cs">
                    @cs.Updated.ToString(GeneralViewModel.DateFormant)
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CaseViewModel" Property="UpdatedBy" Title="@GeneralViewModel.UpdatedBy">
                <Template Context="cs">
                    @cs.UpdatedBy
                </Template>
            </RadzenGridColumn>

            <RadzenGridColumn TItem="CaseViewModel" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px" Title="Edytuj">
                <Template Context="cs">
                    <RadzenButton Icon="edit" Size="ButtonSize.Medium" Click="@((args) => App.CasesPage.EditCaseRow(cs))">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="cs">
                    <RadzenButton Icon="save" Size="ButtonSize.Medium" Click="@((args) => App.CasesPage.SaveCaseRow(cs))">
                    </RadzenButton>
                    <RadzenButton Icon="cancel" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => App.CasesPage.CancelEditCaseRow(cs))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CaseViewModel" Context="order" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px" Title="Usuń">
                <Template Context="cs">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(async (args) => await App.CasesPage.DeleteCaseRow(cs))">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="cs">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(async (args) => await App.CasesPage.DeleteCaseRow(cs))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenGridColumn>

        </Columns>
    </RadzenGrid>

    <RadzenTemplateForm Data="@App.CasesPage.NewCase" Submit="@(async (CreateCase.Request args) => { await App.CasesPage.CreateNewCase(args); })">
        <div class="row">
            <RadzenFieldset Text="Nowa Sprawa">
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Nazwa" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox Placeholder="Nazwa Srawy..." Style="margin-bottom: 30px" @bind-Value="App.CasesPage.NewCase.Name" Name="Name" />
                        <RadzenRequiredValidator Component="Name" Text="Name cannot be empty!" Popup="true" />
                        <RadzenLengthValidator Max="50" Text="Max 50 characters!" Component="Name" Popup="true" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Sygnatura" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox Placeholder="Sygnatura..." Style="margin-bottom: 30px" @bind-Value="App.CasesPage.NewCase.Signature" Name="Signature" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="opis" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextArea Placeholder="Opis..." Style="margin-bottom: 30px" @bind-Value="App.CasesPage.NewCase.Description" Name="Description" />
                        <RadzenLengthValidator Max="500" Text="Max 500 characters!" Component="Description" Popup="true" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Typ Sprawy" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextArea Placeholder="Typ Sprawy..." Style="margin-bottom: 30px" @bind-Value="App.CasesPage.NewCase.CaseType" Name="CaseType" />
                    </div>
                </div>
            </RadzenFieldset>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Zapisz" />
            </div>
        </div>
    </RadzenTemplateForm>

    @if (App.ActiveClientWithData.SelectedCase == null)
    {
        <h3>Brak aktywnej sprawy</h3>
    }
    else
    {
        <h3>Aktywna sprawa - @App.ActiveClientWithData.SelectedCase.Name</h3>

        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="Kalendarz Sprawy">
                    <div class="row">
                        <div class="col-md-6">
                            <RadzenScheduler @ref="App.CasesPage.CasesScheduler" style="height: 768px;" TItem="ReminderViewModel" Data="@App.ActiveClientWithData.SelectedCase.Reminders" StartProperty="Start" EndProperty="End" TextProperty="Name" SelectedIndex="2" SlotSelect="@App.CasesPage.OnSlotSelect" AppointmentSelect="@App.CasesPage.OnAppointmentSelect" AppointmentRender="@App.CasesPage.OnAppointmentRender" TodayText="Dzisiaj">
                                <Template Context="data">
                                    <strong>@data.Name</strong>
                                </Template>
                                <ChildContent>
                                    <RadzenDayView Text="Dzień" StartTime="@(new TimeSpan(0, 0, 0))" EndTime="@(new TimeSpan(24, 0, 0))" />
                                    <RadzenWeekView Text="Tydzień" StartTime="@(new TimeSpan(0, 0, 0))" EndTime="@(new TimeSpan(24, 0, 0))" />
                                    <RadzenMonthView Text="Miesiąc" />
                                </ChildContent>
                            </RadzenScheduler>
                        </div>

                        <RadzenCard Style="margin-bottom:20px">
                            Company:
                            <b>@App.ActiveClientWithData.SelectedCase.Name</b>

                            <div class="row">
                                <div class="col-md-6">
                                    <div>Selected Case:</div>
                                    <b>@App.ActiveClientWithData.SelectedCase.Name</b>
                                </div>
                                <div class="col-md-6">
                                    <div>Signature:</div>
                                    <b>@App.ActiveClientWithData.SelectedCase?.Signature</b>
                                    <div style="margin-top:20px">Description:</div>
                                    <b>@App.ActiveClientWithData.SelectedCase?.Description</b>
                                </div>
                            </div>
                        </RadzenCard>
                    </div>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Notki">
                    <div class="row">
                        <RadzenTemplateForm Data="@App.CasesPage.NewNote" Submit="@(async (CreateNote.Request args) => { await App.CasesPage.CreateNewNote(args); })">
                            <div class="row">
                                <RadzenFieldset Text="Add New Note">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <RadzenTextBox Placeholder="Note Title..." Style="margin-bottom: 30px" @bind-Value="App.CasesPage.NewNote.Name" Name="Name" />
                                            <RadzenRequiredValidator Component="Name" Text="Name cannot be empty!" Popup="true" />
                                            <RadzenLengthValidator Max="50" Text="Max 50 characters!" Component="Name" Popup="true" />
                                        </div>
                                        <div class="col-md-6">
                                            <RadzenTextArea Placeholder="Message..." Style="margin-bottom: 30px" @bind-Value="App.CasesPage.NewNote.Message" Name="Message" />
                                            <RadzenLengthValidator Max="500" Text="Max 500 characters!" Component="Message" Popup="true" />
                                        </div>
                                        <div class="col-md-2">
                                            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Add Note" />
                                        </div>
                                    </div>
                                </RadzenFieldset>
                            </div>
                        </RadzenTemplateForm>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <RadzenGrid @ref="App.CasesPage.NotesGrid" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true" RowSelect="@(args => App.CasesPage.ActiveNoteChange(args))"
                                        Data="@App.ActiveClientWithData.SelectedCase.Notes" TItem="NoteViewModel" RowUpdate="@App.CasesPage.OnUpdateNoteRow">
                                <Columns>
                                    <RadzenGridColumn TItem="NoteViewModel" Property="Name" Title="Nazwa">
                                        <EditTemplate Context="note">
                                            <RadzenTextBox @bind-Value="note.Name" Style="width:100%; display: block" Name="Name" />
                                            <RadzenRequiredValidator Component="Name" Text="Name cannot be empty!" Popup="true" />
                                            <RadzenLengthValidator Max="50" Text="Max 50 characters!" Component="Name" Popup="true" />
                                        </EditTemplate>
                                    </RadzenGridColumn>
                                    <RadzenGridColumn TItem="NoteViewModel" Property="Message" Title="Opis">
                                        <EditTemplate Context="note">
                                            <RadzenTextArea @bind-Value="note.Message" Style="width:100%; display: block" Name="Message" />
                                            <RadzenLengthValidator Max="500" Text="Max 500 characters!" Component="Message" Popup="true" />
                                        </EditTemplate>
                                    </RadzenGridColumn>
                                    <RadzenGridColumn TItem="NoteViewModel" Property="Created" Title="@GeneralViewModel.Created">
                                        <Template Context="note">
                                            @note.Created.ToString(GeneralViewModel.DateFormant)
                                        </Template>
                                    </RadzenGridColumn>
                                    <RadzenGridColumn TItem="NoteViewModel" Property="Updated" Title="@GeneralViewModel.Updated">
                                        <Template Context="note">
                                            @note.Updated.ToString(GeneralViewModel.DateFormant)
                                        </Template>
                                    </RadzenGridColumn>
                                    <RadzenGridColumn TItem="NoteViewModel" Property="UpdatedBy" Title="@GeneralViewModel.UpdatedBy">
                                        <Template Context="note">
                                            @note.UpdatedBy
                                        </Template>
                                    </RadzenGridColumn>

                                    <RadzenGridColumn TItem="NoteViewModel" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px" Title="Edytuj">
                                        <Template Context="note">
                                            <RadzenButton Icon="edit" Size="ButtonSize.Medium" Click="@((args) => App.CasesPage.EditNoteRow(note))">
                                            </RadzenButton>
                                        </Template>
                                        <EditTemplate Context="note">
                                            <RadzenButton Icon="save" Size="ButtonSize.Medium" Click="@((args) => App.CasesPage.SaveNoteRow(note))">
                                            </RadzenButton>
                                            <RadzenButton Icon="cancel" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => App.CasesPage.CancelEditNoteRow(note))">
                                            </RadzenButton>
                                        </EditTemplate>
                                    </RadzenGridColumn>
                                    <RadzenGridColumn TItem="NoteViewModel" Context="order" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px" Title="Usuń">
                                        <Template Context="note">
                                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(async (args) => await App.CasesPage.DeleteNoteRow (note))">
                                            </RadzenButton>
                                        </Template>
                                        <EditTemplate Context="note">
                                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(async (args) => await App.CasesPage.DeleteNoteRow(note))">
                                            </RadzenButton>
                                        </EditTemplate>
                                    </RadzenGridColumn>
                                </Columns>
                            </RadzenGrid>
                        </div>
                        <div class="col-md-4">
                            @if (App.ActiveClientWithData.SelectedCase != null &&
                           App.ActiveClientWithData.SelectedCase.SelectedNote != null)
                            {
                                <RadzenCard Style="margin-bottom:20px">
                                    Note:
                                    <b>@App.ActiveClientWithData.SelectedCase.SelectedNote.Name</b>
                                </RadzenCard>
                                <RadzenCard Style="margin-bottom:20px">
                                    Details:
                                    <b>@App.ActiveClientWithData.SelectedCase.SelectedNote.Message</b>
                                </RadzenCard>
                            }
                        </div>
                    </div>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    }
}

@code {
    [Parameter]
    public LegalBlazorApp App { get; set; }
    [Parameter]
    public EventCallback<LegalBlazorApp> AppChanged { get; set; }
}
