<div class="row">
    <div class="col-md-6">
        <RadzenGrid @ref="App.FinancePage.CashMovementGrid" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true" RowSelect="@(args => App.FinancePage.ActiveCashMovementChange(args))"
                    Data="@App.ActiveClientWithData.CashMovements" TItem="CashMovementViewModel" RowUpdate="@App.FinancePage.OnUpdateCashMovementRow" RowRender="@App.FinancePage.RowRender" CellRender="@App.FinancePage.CellRender">
            <Columns>
                <RadzenGridColumn TItem="CashMovementViewModel" Property="Name" Title="Nazwa">
                    <EditTemplate Context="c">
                        <RadzenTextBox @bind-Value="c.Name" Style="width:100%; display: block" Name="Name" />
                        <RadzenRequiredValidator Component="Name" Text="Nazwa nie może być pusta!" Popup="true" />
                        <RadzenLengthValidator Max="50" Text="Maksymalnie 50 znaków!" Component="Name" Popup="true" />
                    </EditTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CashMovementViewModel" Property="Amount" Title="Kwota">
                    <EditTemplate Context="c">
                        <RadzenNumeric TValue="double" Step="0.01" @bind-Value="@c.Amount" Name="Amount" />
                        <RadzenRequiredValidator Component="Amount" Text="Kwota nie może być pusta!" Popup="true" />
                    </EditTemplate>
                </RadzenGridColumn>

                <RadzenGridColumn TItem="CashMovementViewModel" Property="Created" Title="@GeneralViewModel.Created">
                    <Template Context="c">
                        @c.Created.ToString(GeneralViewModel.DateFormant)
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CashMovementViewModel" Property="Updated" Title="@GeneralViewModel.Updated">
                    <Template Context="c">
                        @c.Updated.ToString(GeneralViewModel.DateFormant)
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CashMovementViewModel" Property="UpdatedBy" Title="@GeneralViewModel.UpdatedBy">
                    <Template Context="c">
                        @c.UpdatedBy
                    </Template>
                </RadzenGridColumn>

                <RadzenGridColumn TItem="CashMovementViewModel" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="c">
                        <RadzenButton Icon="edit" Size="ButtonSize.Medium" Click="@(args => App.FinancePage.EditCashMovementRow(c))">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="c">
                        <RadzenButton Icon="save" Size="ButtonSize.Medium" Click="@((args) => App.FinancePage.SaveCashMovementRow(c))">
                        </RadzenButton>
                        <RadzenButton Icon="cancel" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => App.FinancePage.CancelCashMovementEdit(c))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CashMovementViewModel" Context="order" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                    <Template Context="c">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(async (args) => await App.FinancePage.DeleteCashMovementRow(c))">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="c">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(async (args) => await App.FinancePage.DeleteCashMovementRow(c))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div

    <div class="col-md-6">
        <RadzenCard Style="margin-bottom:20px">
            Klient: <b>@App.ActiveClient.Name</b>
            Bilans: <b>@App.ActiveClientWithData.CashMovements.Sum(x => x.Amount).FormatPLN()</b>
        </RadzenCard>
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="Dodaj Nową Pozycję">
                    <RadzenTemplateForm Data="@App.FinancePage.NewCashMovement" Submit="@(async (CreateCashMovement.Request args) => { await App.FinancePage.SubmitNewCashMovement(args); })">
                        <div class="row">
                            <RadzenFieldset Text="Nowa pozycja">
                                <div class="row">
                                    <div class="col-md-8 m-5">
                                        <RadzenTextBox Placeholder="Nazwa Srawy..." Style="margin-bottom: 30px" @bind-Value="App.FinancePage.NewCashMovement.Name" Name="Name" />
                                        <RadzenRequiredValidator Text="Nazwa nie może być pusta!" Component="Name" Popup="true"/>
                                        <RadzenLengthValidator Max="50" Text="Maksymalnie 50 znaków!" Component="Name" Popup="true"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <RadzenSelectBar @bind-Value="App.FinancePage.NewCashMovement.CashFlowDirection" TValue="int" Style="margin-bottom: 20px;">
                                        <Items>
                                            <RadzenSelectBarItem Text="Wpływ" Value="1" />
                                            <RadzenSelectBarItem Text="Wydatek" Value="0" />
                                        </Items>
                                    </RadzenSelectBar>
                                </div>
                                <div class="row">

                                    <h3>Kwota</h3>
                                    <RadzenNumeric TValue="double" Placeholder="0.0" Step="0.01" @bind-Value="@App.FinancePage.NewCashMovement.Amount" Style="margin-bottom: 20px" />

                                </div>
                            </RadzenFieldset>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Zapisz" />
                            </div>
                        </div>
                    </RadzenTemplateForm>

                </RadzenTabsItem>

                <RadzenTabsItem Text="Statystyki">










                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>

@code {
    [Parameter]
    public LegalBlazorApp App { get; set; }
    [Parameter]
    public EventCallback<LegalBlazorApp> AppChanged { get; set; }
}
