@inject GeneralViewModel generalViewModel

<h2>Kalendarz</h2>
<RadzenButton ButtonStyle="ButtonStyle.Success" Style="border-radius: 50%;" Icon="refresh" Click="App.CalendarPage.RefreshCalendarData"></RadzenButton>

<div class="row">
    <div class="col-md-12">
        <RadzenScheduler @ref="App.CalendarPage.RemindersScheduler" style="height: 768px;"
                         TItem="ReminderViewModel"
                         Data="@App.CalendarPage.Reminders"
                         StartProperty="Start"
                         EndProperty="End"
                         TextProperty="DisplayText"
                         SelectedIndex="2"
                         AppointmentSelect="@App.CalendarPage.OnAppointmentSelect"
                         TodayText="Dzisiaj"
                         AppointmentRender="@App.CalendarPage.OnAppointmentRender">
            <ChildContent>
                <RadzenDayView Text="Dzień" StartTime="@(new TimeSpan(0, 0, 0))" EndTime="@(new TimeSpan(24, 0, 0))" />
                <RadzenWeekView Text="Tydzień" StartTime="@(new TimeSpan(0, 0, 0))" EndTime="@(new TimeSpan(24, 0, 0))" />
                <RadzenMonthView Text="Miesiąc" />
            </ChildContent>
        </RadzenScheduler>
    </div>

    <RadzenCard>
        <h3>Wybierz Rodzaj Przypomnień</h3>
        <RadzenSelectBar @bind-Value="App.CalendarPage.ChosenReminderType" TValue="int" Style="margin-bottom: 20px;">
            <Items>
                <RadzenSelectBarItem Text="Przypomnienie" Value="1" />
                <RadzenSelectBarItem Text="Termin" Value="2" />
                <RadzenSelectBarItem Text="Wszystko" Value="3" />
            </Items>
        </RadzenSelectBar>

        <RadzenGrid @ref="App.CalendarPage.RemindersGrid" AllowFiltering="true" AllowPaging="true" PageSize="15" AllowSorting="true" RowSelect="@(args => App.CalendarPage.ActiveReminderChange(args))"
                    Data="@(App.CalendarPage.ChosenReminderType == 3 ? App.CalendarPage.Reminders : App.CalendarPage.ChosenReminderType == 2 ? App.CalendarPage.Reminders.Where(x => x.IsDeadline) : App.CalendarPage.Reminders.Where(x => !x.IsDeadline))" TItem="ReminderViewModel">
            <Columns>
                <RadzenGridColumn TItem="ReminderViewModel" Property="IsDeadline" Title="Tremin" Width="50px" Filterable="false">
                    <Template Context="record">
                        @if (record.IsDeadline)
                        {
                            <RadzenIcon Icon="gavel" Style="color : crimson" />
                        }
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ReminderViewModel" Property="ParentClientName" Title="Klient">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ReminderViewModel" Property="ParentCaseName" Title="Sprawa">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ReminderViewModel" Property="Name" Title="Nazwa">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ReminderViewModel" Property="Message" Title="Opis">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ReminderViewModel" Property="Start" Title="Początek">
                    <Template Context="record">
                        @(generalViewModel.ReminderDispalyDate(record.Start))
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ReminderViewModel" Property="End" Title="Koniec">
                    <Template Context="record">
                        @(generalViewModel.ReminderDispalyDate(record.End))
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ReminderViewModel" Property="Duration" Title="Czas">
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </RadzenCard>
</div>
