@if (Store.Loading)
{
    <LoaderComponent Message="@Store.LoadingMessage"></LoaderComponent>
}
else
{
    <RadzenCard>
        <h2>Szczegóły zapytania</h2>
        <p>Wybierz zapytanie, aby wyświetlić całą wiadomość.</p>
        <RadzenDataList WrapItems="true" AllowPaging="true" Data="@Store.GetState().ActiveRequest.Messages" TItem="RequestMessageViewModel" PageSize="5">
            <Template Context="message">
                <RadzenCard Style="width:100%">
                    <div class="flex-column" @onclick="@(() => MessageSelected(message.Id))">
                        <div class="flex-column">
                            <div class="rodo-links py-1">
                                <p><strong>Temat: </strong>@(MainStore.GetState().SelectedRequest.DisplaySubject)</p>
                                <p class=""><strong>Data: </strong>@(message.Created.ToString("yyyy.MM.dd HH:mm:ss"))</p>
                                <p class=""><strong>Autor: </strong>@(message.AuthorName)</p>
                            </div>
                            @*<div>
                                    <p class=""><strong>Treść wiadomości: </strong>@(message.Message)</p>
                                </div>*@
                        </div>
                    </div>
                </RadzenCard>
            </Template>
        </RadzenDataList>

    </RadzenCard>
    if (Store.GetState().ActiveRequestMessage is not null)
    {
        <RadzenCard>
            <RadzenCard Style="width:100%">
                <div class="rodo-links py-3">
                    <p><strong>Temat: </strong>@(MainStore.GetState().SelectedRequest.DisplaySubject)</p>
                    <p class=""><strong>Data: </strong>@(MainStore.GetState().SelectedRequest.Created.ToString("yyyy.MM.dd HH:mm:ss"))</p>
                </div>
                <div class="card-text py-3">@(Store.GetState().ActiveRequestMessage.Message)</div>
            </RadzenCard>
        </RadzenCard>

    }

    <RadzenTemplateForm Data="@Store.GetState().NewRequestMessage" Submit="@((CreateRequest.RequestMessage args) => SubmitNewRequest(args))">
        <RadzenFieldset Text="Dodaj nową wiadomość do zapytania">
            <div class="text pb-3">
                <RadzenTextArea Placeholder="Wiadomość..." @bind-Value="Store.GetState().NewRequestMessage.Message" Name="RequestMessage" Style="width:100%; height:180px;" />
                <RadzenRequiredValidator Component="RequestMessage" Text="Wiadomość..." Popup="true" />
                <RadzenLengthValidator Max="1000" Text="Maksymalnie 1000 znaków!" Component="RequestMessage" />
            </div>
            <RadzenButton ButtonType="ButtonType.Submit" Text="Wyślij" ButtonStyle="ButtonStyle.Secondary" />
        </RadzenFieldset>
    </RadzenTemplateForm>
}
