@using BlazorApp.PortalApp.Stores.Requests.RequestsPanel

@* Główny Komponent *@

@if (Store.GetState().CurrentComponent != RequestsMainPanelState.InnerComponents.Info)
{
    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="ActivateHelpPanel"><img class="r-btn" src="/Images/icons8-double-left-24 (1).png" />Wróć</RadzenButton>
}

<div class="row pt-4">
    <div class="col-md-8">
        @switch (Store.GetState().CurrentComponent)
        {
            case RequestsMainPanelState.InnerComponents.Info:
                <Info />
                break;
            case RequestsMainPanelState.InnerComponents.Create:
                <RequestCreate />
                break;
            case RequestsMainPanelState.InnerComponents.Details:
                <RequestDetails />
                break;
            default:
                break;
        }
    </div>
    <div class="col-md-4">
        <RadzenCard>
            <h2 class="p-3">Historia komunikacji</h2>

            @if (Store.GetState().Requests is null || Store.GetState().Requests.Count == 0)
            {
                <p>Nie masz jeszcze żadnych wiadomości. Użyj guzika "Wyślij wiadomość". aby dodać nowe zapytanie.</p>
            }
            else
            {
                <RadzenGrid @ref="Store.GetState().RequestsGrid" AllowFiltering="true" AllowPaging="true" PageSize="15" AllowSorting="true" RowSelect="@(args => RequestSelected(args))"
                            Data="@Store.GetState().Requests" TItem="RequestViewModel">
                    <Columns>
                        <RadzenGridColumn TItem="RequestViewModel" Property="Created" Title="Utworzono">
                            <Template Context="record">
                                @record.Created.ToString("yyyy.MM.dd HH:mm:ss");
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="RequestViewModel" Property="Updated" Title="Ostatnia zmiana">
                            <Template Context="record">
                                @record.Updated.ToString("yyyy.MM.dd HH:mm:ss");
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="RequestViewModel" Property="DisplaySubject" Title="Temat">
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="RequestViewModel" Property="DisplayStatus" Title="Status">
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>

                @*<RadzenDataList WrapItems="true" AllowPaging="true" Data="@Store.GetState().Requests" TItem="RequestViewModel" PageSize="5">
                    <Template Context="request">
                        <RadzenCard Style="width:300px;">
                            <div class="row p-3" @onclick="@(() => ReuqestSelected(request.Id))">
                                <p>@($"Utworzono: {@request.Created.ToString("yyyy.MM.dd HH:mm:ss")}")</p>
                                <p>@($"Ostatnia zmiana: {@request.Updated.ToString("yyyy.MM.dd HH:mm:ss")}")</p>
                                <p>@($"Temat: {request.DisplaySubject}")</p>
                                <p>@($"Status: {request.DisplayStatus}")</p>
                            </div>
                        </RadzenCard>
                    </Template>
                </RadzenDataList>*@
            }
        </RadzenCard>
    </div>
</div>




