@if (Store.Loading)
{
    <LoaderComponent Message="@Store.LoadingMessage"></LoaderComponent>
}
else
{
    <p>Zapytanie nr: @Store.GetState().ActiveRequest.Id</p>

    <RadzenCard>
        <p></p>
        <RadzenDataList WrapItems="true" AllowPaging="true" Data="@Store.GetState().ActiveRequest.Messages" TItem="RequestMessageViewModel" PageSize="5">
            <Template Context="message">
                <RadzenCard Style="width:300px;">
                    <div class="row p-3" @onclick="@(() => MessageSelected(message.Id))">
                        <p>@($"Data: {message.Created.ToString("yyyy.MM.dd HH:mm:ss")}")</p>
                        <p>@($"Autor: {message.AuthorId}")</p>
                    </div>
                </RadzenCard>
            </Template>
        </RadzenDataList>
    </RadzenCard>

    @if (Store.GetState().ActiveRequestMessage is not null)
    {
        <p>@($"Wiadomość: {Store.GetState().ActiveRequestMessage.Message}")</p>
    }
    else
    {
        <p>Wybierz wiadomość żeby zobaczyć szczegóły.</p>
    }

    <RadzenTemplateForm Data="@Store.GetState().NewRequestMessage" Submit="@((CreateRequest.RequestMessage args) => SubmitNewRequest(args))">
        <RadzenFieldset Text="Wyślij wiadomość">
            <div class="text">
                <RadzenTextArea Placeholder="Wiadomość..." @bind-Value="Store.GetState().NewRequestMessage.Message" Name="RequestMessage" />
                <RadzenRequiredValidator Component="RequestMessage" Text="Wiadomość..." Popup="true" />
            </div>
            <RadzenButton ButtonType="ButtonType.Submit" Text="Wyślij" ButtonStyle="ButtonStyle.Secondary" />
        </RadzenFieldset>
    </RadzenTemplateForm>
}